<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'icon.ico')}}" type="image/x-icon">
    <title>Chat.wz | 讨论版</title>
</head>

<body>
    <h1>Chat.wz / 讨论版 v1.1 beta</h1>
    <h2>通知：暑假期间服务器关闭。</h2>
    <a href="info">这是什么？</a>
    <div class="form">
        <textarea name="content" id="content" cols="" rows=""></textarea><br>
        昵称:<input type="text" name="nickname" id="nickname" value="匿名">
        <span class="btn" id="submit">发送！</span>
    </div><br>
    <div id="history">
        历史消息（查看新消息请手动刷新）
        <div id="chatdata"></div>
        <span class="btn" id="morehistory">加载更多</span><br>
    </div>
    <script src="{{ url_for('static', filename = 'script.js') }}" defer async></script>
</body>

</html>