<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'icon.ico')}}" type="image/x-icon">
    <title>Chat.wz | FAQ</title>
</head>
<body>
    <h1>Q&A</h1>
    Q1. 这是什么？<br>
    A1. 一个讨论版。<br>
    Q2. 规则？<br>
    A2. 没有，但请善待它。<br>
    Q3. 为什么这么丑？<br>
    A3. 我也不知道……<br>
    <a href="/">回到主页面</a>
</body>
</html>