<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chat.wz | 加入</title>
    <style>
        .btn {
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            border: 1px solid black;
            background-color: rgba(0, 0, 0, 0.1);
        }

        .btn:hover {
            background-color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }

        #pst,
        #get {
            border: 1px solid black;
            margin: 10%;
            padding: 2%;
        }
    </style>
    <script>
        
    </script>
</head>

<body>
    采用一次性令牌以保证匿名性。<br>
    点击对应按钮申请加入。<br>
    <div id="get">
        令牌 <input type="text" id="token">
        <span class="btn" id="query">查询</span>
        <div id="msg"></div>
    </div>
    <div id="pst">
        管理员 <span class="btn" id="admin">申请</span><br>
        开发人员 <span class="btn" id="dev">申请</span><br>
        其他 <span class="btn" id="other">申请</span><br>
    </div>
</body>

</html>